{% extends "../base.html" %}
{% block content %}
<div id="admin_form" class="rounded">
  <form method="POST" action="/admin">
    <table class="form">
      <tr class="section">
        <td colspan="2">Basic Configuration</th>
      </tr>
      <tr>
        <td class="label">Owner</td>
        <td>
          <input type="text" name="owner" value="{{ system.owner|escape }}">
        </td>
      </tr>
      <tr class="section">
        <td colspan="2">Facebook Integration</td>
      </tr>
      <tr>
        <td class="label">API key</td>
        <td>
          <input type="text" name="facebook_api_key" value="{{ system.facebook_api_key|escape }}" size="32">
        </td>
      </tr>
      <tr>
        <td class="label">Secret</td>
        <td>
          <input type="text" name="facebook_secret" value="{{ system.facebook_secret|escape }}" size="32">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="control">
          <input type="submit" value="Save">
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
