body {
  background: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0.5em;
}

#header {
  background: #7d3;
  color: #474;
  font-weight: bold;
}

#header a {
  color: #474;
}

#header a:hover {
  color: #8b4;
}

#footer {
  font-size: x-small;
  text-align: center;
}

#logo {
  background: white;
  border: none;
  float: left;
  margin: 0.5em;
  height: 80px;
  width: 80px;
}

#logo img {
  border: none;
  margin-left: auto;
}

#search {
  position: absolute;
  top: 2em;
  right: 1em;
}

#headline {
  display: inline;
  font-size: x-small;
  text-align: center;
}

#headline_alpha {
  background: #fcc;
  color: #744;
  font-weight: bold;
}

#headline_beta {
  background: #f8f8f8;
  color: black;
  font-weight: normal;
}

.menu {
  background: #cfc;
  margin-left: -0.25em;
  margin-top: 0.25em;
  position: absolute;
}

.menu a {
  display: block;
  padding: 0.5ex;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
}

.menu a:hover {
  background: #ffc;
}

#admin_nav {
  float: right;
}

#user {
  float: right;
}

#user_menu {
  right: 0.5em;
}

.quote_options {
  clear: right;
  float: right;
}

#signin_form {
  margin: 0.5em;
  white-space: nowrap;
}

#signin_form td {
  vertical-align: top;
}

#signin_form a {
  display: inline;
  font-size: xx-small;
}

#signin_form a:hover {
  background: inherit;
}

#signin_button {
  background: #474;
  color: white;
  font-size: small;
  height: 2em;
  text-align: center;
  width: 2em;
}

#signin_form .disabled {
  background: #aaa;
  color: white;
}

#signin_form input.disabled {
  background: #eee;
  color: #333;
}

#signin_form .error {
  color: red;
}

#signin_button:hover {
  color: #ffc;
}

#signin_error {
  color: red;
}

#navbar {
  margin-left: 180px;
}

.nav {
  background: #cfc;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.25em;
  text-align: center;
}

.nav:hover {
  background: #ffc;
}

#content_container {
  background: white;
  margin-top: 0.5em;
}

#profile {
  display: none;
  clear: both;
  left: 0;
  position: relative;
  top: 0;
}

#content {
  padding: 0.5em;
}

table.form td {
  vertical-align: top;
}

.label, .control {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.quote {
  background: #afa;
  color: #343;
  margin-bottom: 2em;
}

.quote_header, .quote_footer {
  font-size: x-small;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.quote_header div {
  display: block;
  margin-left: 0.5em;
}

.quote_timestamps {
  float: right;
  font-size: x-small;
}

.quote_by {
  font-size: small;
  font-weight: bold;
}

.quote_location span {
  margin-right: 0.5em;
}

.quote_source {
  font-family: monospace;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

.quote_source .row0 {
  background: white;
}

.quote_source .row1 {
  background: #eee;
}

.quote_source tr:hover {
  background: #ffd;
  font-weight: bold;
}

.quote_source table {
  border-collapse: collapse;
}

.quote_source td {
  vertical-align: top;
}

.quote_source .actor {
  border-right: 1px solid black;
  padding-left: 1ex;
  padding-right: 0.5ex;
  text-align: right;
  white-space: nowrap;
}

.quote_source .text {
  padding-left: 1ex;
  width: 100%;
  white-space: normal;
}

.quote_note span {
  margin-left: 0.5em;
  margin-right: 1ex;
}

#create_account {
  background: #cfc;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  width: 60%;
}

#create_account td {
  vertical-align: top;
}

#create_account_success {
  display: none;
}

#create_account_left {
  text-align: center;
}

#create_account_right {
  text-align: left;
}

#create_account .step_by_step {
  background: white;
}

.tip, .tip_cell {
  font-size: xx-small;
  font-weight: normal;
  white-space: normal;
}

.tip_cell {
  width: 20ex;
}

.step_by_step {
  font-size: small;
  font-weight: normal;
  text-align: left;
}

.step_by_step .current_step {
  font-size: medium;
  font-weight: bold;
}

.throbber {
  background: url(/large/process-working.png) no-repeat top left;
  float: left;
  width: 32px;
  height: 32px;
}

#quote_irc_label_set {
  font-size: smaller;
  vertical-align: bottom;
}
