<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/iq.css">
    <script src="/MochiKit.js"></script>
    <script src="/iq.js"></script>
    <title>IQ: {% block subtitle %}Accounting for Taste{% endblock %}</title>
  </head>
  <body>
    {% block user %}
    <div class="user nav">
      {% if account %}
        <h1>Hello, {{ account.name }}</h1>
        <ul>
          <li><a href="/logout?url={{ request.path_qs|urlencode }}">Logout</a></li>
        </ul>
      {% else %}
        <h1>Sign In</h1>
        <iframe src="/login?url={{ request.path_qs|urlencode }}"></iframe>
        <ul>
          <li>
            <a href="/remember-account?url={{ request.path_qs|urlencode }}">
              Account name reminder
            </a>
          </li>
          <li>
            <a href="/reset-account?url={{ request.path_qs|urlencode }}">
              Reset password
            </a>
          </li>
          <li>
            <a href="/create-account?url={{ request.path_qs|urlencode }}">
              Create a new account
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
    {% endblock %}
    {% block nav %}
    <div class="nav">
      <h1>Quotes</h1>
      <ul>
        <li><a href="/browse-recent">Recent</a></li>
      </ul>
    </div>
    {% endblock %}
    <div id="content_container">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <div style="float: right">&nbsp;</div>
    </div>
  </body>
</html>

