<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/iq.css">
    {% if account.trusted and session.url_on_login %}
    <script>
window.top.location = "{{ session.url_on_login|urlencode }}";
    </script>
    {% endif %}
    {% if activate %}
    <script>
window.top.location = "/activate?name={{ name|urlencode }}";
    </script>
    {% endif %}
    <title>IQ: Login</title>
  </head>
  <body id="login_form">
    <form method="POST">
      <table>
        <tr>
          <td class="label">Name:</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td class="label">Password:</td>
          <td><input type="password" name="password"></td>
        </tr>
        {% if error %}
        <tr>
          <td colspan="2" class="error">{{ error }}</td>
        </tr>
        {% endif %}
        <tr>
          <td colspan="2" class="control">
            <input type="submit" value="Login">
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
