<div class="quote">
  <div class="quote_header roundtop">
    <span class="quote_by">
      Quote by
{% if quote.owner_page %}
      <a href="/browse?page={{ quote.owner_page.encode|urlencode }}">{{ quote.parent.name|escape }}</a>
{% else %}
      {{ quote.parent.name|escape }}
{% endif %}
    </span>
    <span class="quote_context">...</span>
    <span class="quote_date">Submitted: {{ quote.submitted }}</span>
{% if not preview %}
    <div class="nav quote_options">
      <span class="quote_options_control">Options &#9662;</span>
      <div class="quote_options_menu menu" style="display: none">
{%   ifequal account.key quote.parent_key %}
{%     if quote.draft %}
        <a href="/edit-draft?key={{ quote.key|urlencode }}">Edit</a>
{%     endif %}
        <a href="/delete?key={{ quote.key|urlencode }}&return_url={{ request.url|urlencode }}">Delete</a>
{%   endifequal %}
{%   if account.admin %}
        <a href="/quote?key={{ quote.key|urlencode }}&rebuild=1">Rebuild</a>
{%   endif %}
{% endif %}
      </div>
    </div>
    <span class="quote_date">Last Modified: {{ quote.modified }}</span>
  </div>
  <table class="quote_source" cellspacing="0">
{% for line in quote.getDialog %}
    <tr class="{% cycle row0,row1 %}">
      <td>
{%   if line.params.timestamp %}
        {{ line.params.timestamp }}
{%   else %}
        &nbsp;
{%   endif %}
      </td>
      <td class="actor">
{%   if line.params.nick %}
        &lt;{% if line.params.nickflag %}{{ line.params.nickflag|escape }}{% endif %}{{ line.params.nick|escape }}&gt;
{%   else %}
        &nbsp;
{%   endif %}
      </td>
      <td class="text">{{ line.text|escape }}</td>
    </tr>
{% endfor %}
  </table>
  <div class="quote_footer roundbottom">
{% if quote.note %}
    <div class="quote_note">
      <span class="label">Note:</span>{{ quote.note }}
    </div>
{% endif %}
    &nbsp;
  </div>
</div>
